__pycache__/
*.py[cod]
*$py.class
*.pyo

venv/
env/
.venv/

.vscode/
.idea/
*.sublime-project
*.sublime-workspace

.env
*.env

*.log
*.log.*

.DS_Store
Thumbs.db

build/
dist/
*.egg-info/

.streamlit/

Backend/__pycache__/
Frontend/__pycache__/

testIMAP.py
testNotif.py

ReadMe_images/
.ReadMe_images/